<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">
    Learn something today
  </h1>
  <hr />
  
  <% @courses.each do |course| %>
    <div class="course-box">
      <h2 class="text-center">
        <%= link_to course.title, course_path(course) %>
      </h2>
      <div class="text-center course-image">
        <%= image_tag course.image, class: 'img-fluid' %>
      </div>
      <div class="row">
        <div class="col-sm-8 col-12 description">
          <%= course.description %>
          <p class="more-details" align="right">
            <%= link_to 'More details...', course_path(course), class: 'btn btn-praimary btn-large' %>
          </p>
        </div>
        
        <div class="col-sm-4 col-12">
          <% if course.cost == 0 %>
              Cost: Free
          <% else %>
              Cost: <%= number_to_currency(course.cost) %>
          <% end %>
          <br>
          By: <%= course.user.email %>
        </div>
      </div>
    </div>
    <hr class="course-hr">

  <% end %>
</div>